@use '../Variables' as *;
@use '../Colors' as *;

.BannerB {
  background-color: $colorRed;
  .content {
    width: 100%;
    color: $colorRed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left,
    .right {
      border: 1px solid $colorYellow;
      height: 250px;
      width: 100%;
    }
    .left {
      margin-bottom: 50px;
    }
    @media (min-width: $breakpoint2) {
      flex-direction: row;
      .left {
        width: 50%;
        margin-bottom: unset;
        margin-right: 50px;
      }
      .right {
        width: 50%;
      }
    }
  }
}
