@use '../Global' as *;

.CategoryHeader {
  width: 100%;
  background-color: $colorTeal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  .name,
  .description {
    font-weight: 700;
    text-align: center;
    color: $colorSoftWhite;
    @media (min-width: $break425) {
      font-size: 32px;
    }
  }
  .name {
    font-size: 26px;
  }
  .description {
    font-size: 16px;
  }
}
