@use '../Global' as *;

.LocationOrganisation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  .details {
    width: 100%;
    max-width: $maxContentWidth;
    .name,
    .website {
      font-weight: 700;
    }
    .name {
      font-size: 20px;
    }
  }
}
