@use '../Global' as *;

.LocationOrganisation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  .location-container {
    width: 100%;
    max-width: $maxContentWidth;
    border: $outline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    &.red {
      border-color: $colorRed;
    }
    &.teal {
      border-color: $colorTeal;
    }
    &.green {
      border-color: $colorGreen;
    }
    &.yellow {
      border-color: $colorYellow;
    }
    .name,
    .howItWorks,
    .contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        display: inline-block;
        background-color: $colorRed;
        color: #fff;
        padding: 10px 40px;
        border-radius: 9999px;
        transition: scale 0.25s ease-in-out;
        &:hover {
          scale: 1.1;
        }
      }
      .label,
      .description {
        width: 100%;
      }
      .label {
        // text-transform: uppercase;
        word-break: break-word;
        hyphens: auto;
        // -webkit-hyphens: auto;
        // -moz-hyphens: auto;
        // -ms-hyphens: auto;
        color: $colorTeal;
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 6px;

        &.teal {
          color: $colorTeal;
        }
        &.green {
          color: $colorGreen;
        }
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        a {
          font-weight: 600;
        }
      }

      @media (min-width: $break460) {
        .label {
          font-size: 40px;
        }
        .description {
          font-size: 18px;
        }
      }
      @media (min-width: $break768) {
        .description {
          font-size: 20px;
        }
      }
    }
    .howItWorks {
      margin-top: 20px;
    }
    .contact {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1.2;
      &.teal {
        color: $colorTeal;
      }
      &.green {
        color: $colorGreen;
      }

      @media (min-width: $break460) {
        font-size: 18px;
      }
      @media (min-width: $break768) {
        font-size: 20px;
      }
    }
  }
}
