@use '../Global' as *;

.LocationHeader {
  width: 100%;
  // background-color: $colorRed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .location {
    width: 100%;
    max-width: $maxContentWidth;
    font-size: 20px;
    // font-weight: 700;
    text-align: center;
    // color: $colorSoftWhite;
  }
  @media (min-width: $break460) {
    padding: 30px 20px;
    .location {
      font-size: 26px;
    }
  }
}
