@use '../Global' as *;

.Nav {
  font-family: 'Kanit', Arial, sans-serif;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: $colorYellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: $devBorder solid blue;
  height: $navHeight;
  color: $colorNavBlack;
  &.navShadow {
    box-shadow: 0px 0px $navShadowBlur $colorNavShadow;
  }

  .Logo {
    font-size: 35px;
    .LogoText {
      font-weight: $fontWeightLogo;
    }
  }
  .BurgerMenu {
    opacity: 0;
    position: fixed;
    border-top: 1px solid black;
    top: $navHeight;
    width: 100%;
    background-color: $colorYellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.25s ease-in-out;
    will-change: opacity;
    &.navShadow {
      box-shadow: 0px 5px $navShadowBlur $colorNavDropdownShadow;
    }

    .NavItem {
      height: 0px;
      width: 100%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 20px;
      will-change: height, background-color, color;
      transition:
        height 0.25s ease-in-out,
        background-color 0.25s ease-in,
        color 0.3s ease-in;
      .text {
        font-size: $fontNavLarge;
        font-weight: 300;
        will-change: transform;
        transition: transform 0.25s ease-in-out;
        transform: scale(1, 0);
      }
      &:hover {
        background-color: $colorRed;
        color: $colorSoftWhite;
      }
    }

    .LocationsExpander {
      width: 100%;

      .LocationsToggle {
        cursor: pointer;
        user-select: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        &::after {
          content: '▾';
          display: inline-block;
          font-size: $fontNavLarge;
          transition: transform 0.25s ease-in-out;
        }
        &.open {
          background-color: $colorRed;
          color: $colorSoftWhite;
          &::after {
            transform: rotate(180deg);
          }
        }
      }

      .LocationSubItems {
        width: 100%;
        .NavItem {
          padding-left: 40px;
          .text {
            font-size: $fontNavSmall;
          }
          &:hover {
            background-color: $colorGreen;
          }
        }
      }
    }

    &.open {
      opacity: 1;

      .NavItem {
        height: $navBurgerItemHeight;
        .text {
          transform: scale(1, 1);
        }
      }

      .LocationSubItems .NavItem {
        height: 0;
        .text {
          transform: scale(1, 0);
        }
      }

      .LocationSubItems.open .NavItem {
        height: $navBurgerItemHeight;
        .text {
          transform: scale(1, 1);
        }
      }
    }
  }
  .NavMenu {
    display: none;
    margin-right: 40px;
  }
  @media (min-width: $break800) {
    justify-content: space-between;
    .NavBurger,
    .BurgerMenu {
      display: none;
    }
    .NavMenu {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .NavItem {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $fontNavSmall;
        font-weight: 300;
        padding: 0 12px;
        transition: color 0.25s ease-in-out;

        &:hover {
          color: $colorTeal;
        }
      }
    }
  }
  @media (min-width: $break1024) {
    .NavMenu {
      .NavItem {
        padding: 0 15px;
        font-size: $fontNavLarge;
      }

      .NavMenuLanguageSelector {
        padding-left: 15px;
      }
    }
  }

  @media (min-width: $break1440) {
    &.sideMenu {
      flex-direction: column;
      justify-content: flex-start;
      left: 0;
      width: $navWidth;
      height: 100%;
      padding-top: 50px;
      .Logo {
        width: 100%;
        font-size: 44px;
      }

      .NavMenu {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        .NavItem {
          padding: unset;
        }

        .NavMenuLanguageSelector {
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
