@use "../Global" as *;
@use "../Page" as *;

.About {
  .HeaderImage {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $break768) {
      max-width: 300px;
    }
  }
  .title {
    color: $colorGreen;
  }
  .center {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
