$colorGreen: rgb(3, 126, 140);
$colorYellow: rgb(255, 209, 0);
$colorRed: rgb(242, 76, 39);

$colorBackground: rgb(251, 241, 204);

$colorNavShadow: rgba(0, 0, 0, 0.6);
$colorNavBurgerBackground: rgba(230, 230, 230, 0.99);
$colorNavItem: rgb(150, 150, 150);
$colorNavItemSelected: black;

$colorCardShadow: rgba(0, 0, 0, 0.2);
$colorBannerText: black;
