$colorSoftWhite: rgb(251, 241, 204);

$colorGreen: #06874c;
$colorTeal: #037e8c;
$colorYellow: #ffd100;
$colorYellowHighlight: rgb(255, 187, 0);
$colorRed: #f24c27;

$colorBackground: #fffbeb;
$colorText: black;
$colorNavBlack: rgb(10, 10, 10);

$colorNavShadow: rgba(0, 0, 0, 0.6);
$colorNavDropdownShadow: rgba(0, 0, 0, 0.3);
$colorNavBurgerBackground: rgba(230, 230, 230, 0.99);
$colorNavItem: rgb(150, 150, 150);
$colorNavItemSelected: black;

$colorCardShadow: rgba(0, 0, 0, 0.2);
$colorBannerText: black;
