@use './Global' as *;
@use './Colors' as *;

.page {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorBackground;
  color: $colorText;
  @media (min-width: $break460) {
    padding-top: 40px;
  }

  .content-wrapper {
    width: 100%;
    max-width: $maxContentWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    @media (min-width: $break460) {
      padding: 0 30px;
    }
    @media (min-width: $break768) {
      padding: 0 50px;
    }
    .HeaderImage {
      padding: 0px 20px;
    }

    .title {
      width: 100%;
      text-align: center;
      line-height: 0.9;
      font-size: clamp(24px, 11vw, 70px);
      font-weight: 600;
      margin-bottom: 30px;
      text-wrap: balance;
      overflow-wrap: break-word;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .description {
      width: 100%;
      margin-bottom: 30px;
      font-size: clamp(16px, 4vw, 24px);
      font-weight: 400;
      line-height: 1.1;
      .bold {
        font-weight: 600;
      }
    }
    .link {
      transition: scale 0.25s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
    .link-button {
      transition: scale 0.25s ease-in-out;
      &:hover {
        scale: 1.025;
      }
    }
  }
}
